<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>Meghnad Saha Hall of Residence</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel = 'stylesheet'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: transparent;
                font-family: 'Roboto', serif;
                overflow: hidden;
                font-family: 'Montserrat', sans-serif;
                font-weight: lighter;
            }
        </style>
        <script>
            window.console = window.console || function(t) {};
        </script>    
        <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
        </script>
    </head>
    <body>
        <h1 style="text-align: center; align-content: center;"><a href="../login" style="font-size: 15px; text-decoration: none; background-color: #e44c65; padding: 20px; border-radius: 4px; color: white; text-align:center; align-content: center;">Incorrect Login details, Retry?</a></h1>
    </body>
</html>